<!-- TOP HEADER -->
<div id="top-header">
  <div class="container">
    <ul class="header-links pull-left">
      <li><a><i class = "fa fa-phone"></i> +34 608 844 123</a></li>
      <li><a routerLink="infomail"><i class="fa fa-envelope-o"></i> info@Swapit.com</a></li>
    </ul>
    <ul class="header-links pull-right">
      <li><a *ngIf = "dataService.user.login == true"><i class = "fa fa-money"></i> {{dataService.user.puntos}} </a></li>
      <li><a *ngIf = "dataService.user.login == false"><i class = "fa fa-money"></i> Puntos </a></li>
      <li><a routerLink="profile" routerLinkActive = "true" *ngIf = "dataService.user.login == true"><i class="fa fa-user-o"></i>{{dataService.user.name}}</a></li>
      <li><a routerLink="login" *ngIf = "dataService.user.login == false"><i class="fa fa-user-o"></i>User</a></li>
      <li><a *ngIf = "dataService.user.login == true"><i class = "fa fa-user-circle"></i>Log Out</a></li>
    </ul>
  </div>
</div>
<!-- /TOP HEADER -->

<!-- MAIN HEADER -->
<div id="header">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- LOGO -->
      <div class="col-md-3">
        <div class="header-logo">
          <a routerLink="" class="logo">
            <img src="../../assets/img/Logo.png" alt="">
          </a>
        </div>
      </div>
      <!-- /LOGO -->

      <!-- SEARCH BAR -->
      <div class="col-md-6 text-center">
        <div class="header-search">
          <form>
            <button class = "input-select"><a routerLink = "">Inicio</a></button>
            <button class = "search-btn"><a routerLink = "store">Catálogo</a></button>
          </form>
        </div>
      </div>
      <!-- /SEARCH BAR -->

      <!-- ACCOUNT -->
      <div class="col-md-3 clearfix">
        <div class="header-ctn">
          <!-- Wishlist -->
          <div *ngIf = "dataService.user.login == false">
            <a routerLink="login">
              <i class="fa fa-heart-o"></i>
              <span>Me gusta</span>
              <div class="qty"> 0 </div>
            </a>
          </div>
          <div *ngIf = "dataService.user.login == true">
            <a routerLink="likeit">
              <i class="fa fa-heart-o"></i>
              <span>Me gusta</span>
              <div class="qty"> {{dataService.user.itemsILikeIt}} </div>
            </a>
          </div>
          <!-- /Wishlist -->
          <!-- Cart -->
          <div class="dropdown" *ngIf = "dataService.user.login == false">
            <a routerLink="login">
              <i class="fa fa-shopping-cart"></i>
              <span>Mi Cesta</span>
              <div class="qty"> 0 </div>
            </a>
          </div>
          <div class="dropdown" *ngIf = "dataService.user.login == true">
            <a routerLink="basket">
              <i class="fa fa-shopping-cart"></i>
              <span>Mi Cesta</span>
              <div class="qty"> 0 </div>
            </a>
          </div>
          <!-- /Cart -->
        </div>
      </div>
      <!-- /ACCOUNT -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- /MAIN HEADER -->

